.wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.frameBtn {
  display: flex;
  justify-content: center;
  padding: 2px 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.thumb {
  width: 25px;
  height: 20px;
}
